name: Daily GitHub Issue Priority Notifier

on:
  schedule:
    - cron: '30 11 * * *'   # 5:00 PM IST (11:30 UTC)
  workflow_dispatch:

jobs:
  run-notifier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Show working directory (debug)
        run: |
          pwd
          ls -la

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run GitHub Issue Notifier
        env:
          GITHUB_OWNER: ${{ secrets.G_OWNER }}
          GITHUB_REPO: ${{ secrets.G_REPO }}
          GMAIL_USER: ${{ secrets.GMAIL_USER }}
          GMAIL_APP_PASSWORD: ${{ secrets.GMAIL_APP_PASSWORD }}
          EMAIL_TO: ${{ secrets.EMAIL_TO }}
        run: |
          python main.py
